<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86514230003-30pni31bh1g6qelcj7nn47mfnqvlh3p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86514230003-30pni31bh1g6qelcj7nn47mfnqvlh3p4</string>
	<key>API_KEY</key>
	<string>AIzaSyAPNZPMzJR4HADTEpxiOpAmHrNnmbCHDgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>86514230003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nickrice.DesignCode</string>
	<key>PROJECT_ID</key>
	<string>designcode-swiftuicourse-3297f</string>
	<key>STORAGE_BUCKET</key>
	<string>designcode-swiftuicourse-3297f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86514230003:ios:c29f2ed6bf05c6f8904d86</string>
</dict>
</plist>